OUTLINE_BASE_URL=https://outline.gospodaprogrammisty.ru
OUTLINE_API_KEY=replace_me
OUTLINE_DOCUMENT_URL=https://outline.gospodaprogrammisty.ru/doc/javascript-FxjTgSQD6R#h-sostav-uchastnikov
OUTLINE_DOCUMENT_ID=FxjTgSQD6R

# Future Yandex integration
YANDEX_LOGIN=replace_me
YANDEX_APP_PASSWORD=replace_me
YANDEX_CALENDAR_ID=replace_me
